<table class="palette-table">
  <thead {{#if headerVisible}}{{else}}class="visuallyhidden"{{/if}}>
    <tr>
      <th class="palette-table__col palette-table__col--header palette-table__color">
        <div class="palette-table__col-title palette-table__col-item--color">Colour</div>
      </th>
      <th class="palette-table__col palette-table__col--header palette-table__aa">
        <div class="palette-table__col-title">AA</div>
      </th>
      <th class="palette-table__col palette-table__col--header palette-table__aaPlus">
        <div class="palette-table__col-title">AA (18pt +)</div>
      </th>
      <th class="palette-table__col palette-table__col--header palette-table__aaa">
        <div class="palette-table__col-title">AAA</div>
      </th>
      <th class="palette-table__col palette-table__col--header palette-table__aaaPlus">
        <div class="palette-table__col-title">AAA (18pt +)</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="palette-table__col palette-table__color">
        <div class="palette__item-color palette-table__col-item palette-table__col-item--color" style="background-color: {{color}};" data-label>Colour<span class="palette__item-color-text">{{color}}</span></div>
      </td>
      {{#each indicator}}
        <td class="palette-table__col">
          <div class="palette-table__col-item compliance-indicators__item{{stateModifier}}">{{state}}{{#if perc}}<div class="palette-table__percentage">{{perc}}% Compliant</div>{{/if}}</div>
        </td>
      {{/each}}
    </tr>
  </tbody>
</table>
